.movie-wrapper {
  width: 600px;
  gap: 12px;
}
.movie-card {
  width: 130px;
  height: 200px;
  background-color: #f0f0f0;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.movie-card:hover {
  width: 200px;
  cursor: pointer;
}
.movie-card:hover .movie-content {
  opacity: 1;
  left: 0px;
}
.movie-content {
  position: absolute;
  left: -4px;
  bottom: 2px;
  right: 0;
  padding: 12px;
  color: #fff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}
.movie-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  z-index: 0;
}
.movie-card:hover::after {
  background: linear-gradient(0deg, rgb(0 0 0 / 80%), transparent);
}
@media screen and (max-width: 430px) {
  .movie-card:nth-child(3) {
    display: none;
  }
  .movie-card {
    width: 100px;
    height: 160px;
  }
  .movie-card:hover {
    width: 180px;
    cursor: pointer;
  }
}
