@tailwind base;
@tailwind components;
@tailwind utilities;
.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .main-wrapper {
    padding: 16px;
  }
}
.custom-icon {
  padding: 8px;
  width: 40px;
  height: 40px;
}
.icon-wrapper {
  position: relative;
  margin-bottom: 12px;
}
.left-icon {
  transform: rotate(-15deg);
  margin-right: 8px;
  transition: margin-right 0.2s ease-in-out;
  transition: margin-left 0.3s cubic-bezier(0.3, 1.5, 0.7, 1);
}

.center-icon {
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  position: absolute;
  transition: bottom 0.2s cubic-bezier(0.3, 1.5, 0.7, 1);
}

.right-icon {
  transform: rotate(15deg);
  margin-left: 8px;
  transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.3s cubic-bezier(0.3, 1.5, 0.7, 1);
}

.playground-area {
  padding: 64px 0;
}

.playground-area:hover .center-icon {
  bottom: 26px;
}

.playground-area:hover .left-icon {
  margin-right: 24px;
}

.playground-area:hover .right-icon {
  margin-left: 24px;
}
.glowing-btn {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  inset: -60px;
  background: conic-gradient(
    from 0 at 50% 50%,
    rgb(0 0 0) 0deg,
    rgb(229 231 235) 60deg,
    rgb(229 231 235) 310deg,
    rgb(0 0 0) 360deg
  );
  border-radius: 2px;
  animation: rotate 3.5s linear infinite;
  z-index: -1;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #ffffff;
  z-index: -1;
  border-radius: 0.45rem;
}
.glowing-btn:hover::after {
  background-color: #f3f4f6;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.expanding-btn {
  transition: width 1s ease-in-out;
  width: 48px;
  justify-content: center;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.5s ease, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.expanding-btn span {
  width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}

.expanding-btn.expanded {
  width: auto;
}

.expanding-btn.expanded span {
  opacity: 1;
  width: auto;
}
.list {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 8px;
}
.button {
  height: auto;
  border-radius: 100%;
  padding: 16px;
  cursor: pointer;
}
.button.button-overlay {
  color: #fff;
}
.clip-path-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  transition: clip-path 0.25s ease;
  clip-path: inset(0px 71% 0px 0% round 100px);
}
.movie-wrapper {
  width: 600px;
  gap: 12px;
}
.movie-card {
  width: 130px;
  height: 200px;
  background-color: #f0f0f0;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.movie-card:hover {
  width: 200px;
  cursor: pointer;
}
.movie-card:hover .movie-content {
  opacity: 1;
  left: 0px;
}
.movie-content {
  position: absolute;
  left: -4px;
  bottom: 2px;
  right: 0;
  padding: 12px;
  color: #fff;
  opacity: 0;
  transition: all 0s ease-in-out;
  z-index: 2;
}
.movie-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  z-index: 0;
}
.movie-card:hover::after {
  background: linear-gradient(0deg, rgb(0 0 0 / 80%), transparent);
}
@media screen and (max-width: 430px) {
  .movie-card {
    width: 100px;
    height: 160px;
  }
  .movie-card:hover {
    width: 180px;
    cursor: pointer;
  }
}
