@tailwind base;
@tailwind components;
@tailwind utilities;
.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .main-wrapper {
    padding: 16px;
  }
}
.custom-icon {
  padding: 8px;
  width: 40px;
  height: 40px;
}
.icon-wrapper {
  position: relative;
  margin-bottom: 12px;
}
.left-icon {
  transform: rotate(-15deg);
  margin-right: 8px;
  transition: margin-right 0.2s ease-in-out;
}

.center-icon {
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  position: absolute;
  transition: bottom 0.2s ease-in-out;
}

.right-icon {
  transform: rotate(15deg);
  margin-left: 8px;
  transition: margin-left 0.2s ease-in-out;
}

.playground-area {
  padding: 64px 0;
}

.playground-area:hover .center-icon {
  bottom: 26px;
}

.playground-area:hover .left-icon {
  margin-right: 24px;
}

.playground-area:hover .right-icon {
  margin-left: 24px;
}
.cta-button {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.cta-button::before {
  content: "";
  position: absolute;
  inset: -60px;
  background: conic-gradient(
    from 0 at 50% 50%,
    rgb(0 0 0) 0deg,
    rgb(229 231 235) 60deg,
    rgb(229 231 235) 310deg,
    rgb(0 0 0) 360deg
  );
  border-radius: 2px;
  animation: rotate 3.5s linear infinite;
  z-index: -1;
}

.cta-button::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #ffffff;
  z-index: -1;
  border-radius: 0.45rem;
}
.cta-button:hover::after {
  background-color: #f3f4f6;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
