@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  box-shadow: 0 0 0 1px #f1f1f0, 0 1px 2px #cdcdcd52, 0 3px 3px #d6d5d43d,
    0 -2px #f0f0efb3 inset;
}
.card:hover {
  box-shadow: 0 0 0 1px #f1f1f0, 0 1px 2px #cdcdcd52, 0 4px 6px #00000026,
    0 -2px #f0f0efb3 inset;
}
/* .noise-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 130vh;
  overflow: hidden;
  background: url(./assets/fine-noise_o.png) repeat;
  -webkit-animation: noise-animation 0.22s steps(8) infinite;
  animation: noise-animation 0.22s steps(8) infinite;
  visibility: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: -1;
  filter: brightness(1);
}
@keyframes noise-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
} */
header a,
footer a {
  text-decoration-line: underline;
  text-decoration-color: #e5e7eb;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
header a:hover,
footer a:hover {
  text-decoration-color: #d1d5db;
  color: #1f2937;
}
.small-circle {
  position: relative;
  height: 0.45rem;
  width: 0.45rem;
  border-radius: 50%;
  background-color: #e68413;
  overflow: visible;
}

.small-circle::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e68413; /* Lighter amber */
  transform: translate(-50%, -50%) scale(1);
  animation: ripple 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.shimmer {
  line-height: 1.3;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  background: linear-gradient(120deg, #b4b4b4 0%, #b4b4b4 80%, #000000 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite ease-out;
}
@keyframes shimmer {
  100% {
    background-position: -200% 0;
  }
}
.bg-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(
    circle,
    rgb(197 197 197) 1px,
    rgb(255 255 255) 1px,
    #ffffff 1px,
    #ffffff 100%
  );
  background-repeat: repeat;
  background-position: left center;
  background-size: 8px 8px;
  mask-image: radial-gradient(rgb(0 0 0), transparent 100%);
  opacity: 0.2;
  z-index: 1;
  right: 0;
}
@font-face {
  font-family: "Conte";
  src: url("./assets/conte.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.tag-line {
  font-family: "Conte", sans-serif;
}
